<h1 class="col-md-6">xchild2 works!</h1>
        <div *ngIf="status"
        class="p-2 rounded col-8
         text-center bg-primary
          text-white">
          {{ recevdFromAppCom | json }}</div>
<!--
  <table *ngIf="" class="table table-hover ">
    <thead class="thead-dark">
      <tr>
        <th>aadhar-id</th>
        <th>EMP-Name</th>
        <th>location</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
    </table>

    <table *ngIf="" class="table table-hover ">
      <thead class="thead-dark">
        <tr>
          <th>EMP-Name</th>
          <th>EMP-Age</th>
          <th>EMP-rights</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table> -->


<hr style="border:1px solid red;">
<!--
<table *ngIf="status1" class="table table-hover ">
  <thead class="thead-dark">
    <tr>
      <th>person-Id</th>
      <th>person-Name</th>
      <th>person-Department</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{ PersonRecevdFromAppCom.Aadhar-id}}</td>
      <td>{{ PersonRecevdFromAppCom.Name}}</td>
      <td>{{ PersonRecevdFromAppCom.Location}}</td>
    </tr>
  </tbody>
</table> -->
